<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here will be instead by thymeleaf value</h1>
    <h3>the first line</h3>
    <!-- 第一种取值方式 , 通过括弧直接获取数据 -->
    <!-- 这种方式 idea 会报错 , 但是并不影响编译 , 最好加在双引号里面调取变量 -->
    <h2 th:text=${name}></h2>
    <h3>the second line</h3>
    <!-- 第二种取值方式 , 通过引号加括弧的方式获取数据 -->
    <h2 th:text="${age}"></h2>
    <h3>These two lines are using different value get ways</h3>
</body>
</html>